@model List<EmpresasUsuarios>
@inject IHttpContextAccessor contxt


<h1>Empresas</h1>
@switch (contxt.HttpContext.Session.GetInt32("Rol"))
{
    case 3:
        <a class="btn btn-success" asp-action="Crear">Relacionar Usuario a Empresa</a>
        break;
    case 2:
        @if (contxt.HttpContext.Session.GetInt32("idEmpresa") != 0)
        {
            <a class="btn btn-success" asp-action="Crear">Relacionar Usuario a Empresa</a>
        }
        break;
}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Id Empresa</th>
            <th>Id Usuario</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var empresaUsuario in Model)
        {
            <tr>
                <td>@empresaUsuario.Id</td>
                <td>@empresaUsuario.IdEmpresa</td>
                <td>@empresaUsuario.IdUsuario</td>
                <td>
                    @switch (contxt.HttpContext.Session.GetInt32("Rol"))
                    {
                        case 3:
                            <form asp-action="Eliminar" method="post">
                            <input type="hidden" name="id" value="@empresaUsuario.Id">
                            <button type="submit" class="btn btn-outline-danger">Eliminar</button>
                            </form>
                            break;
                        case 2:
                            @if (@empresaUsuario.IdEmpresa == contxt.HttpContext.Session.GetInt32("idEmpresa"))
                            {
                                <form asp-action="Eliminar" method="post">
                                    <input type="hidden" name="id" value="@empresaUsuario.Id">
                                    <button type="submit" class="btn btn-outline-danger">Eliminar</button>
                                </form>
                            }
                            break;
                    }
                    
                </td>
            </tr>
        }
    </tbody>
</table>
